.badge {
  padding: 0.1875rem 0.375rem;
  color: #ffffff;
  border-radius: 0.375rem;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.75rem;
  margin: 0.2em;
  display: inline-block;
}
.badge:not(.rounded) {
  border-radius: 0.375rem;
}
.badge:is(.rounded) {
  border-radius: 3.75rem;
}
.badge.badge-primary {
  background-color: rgb(28, 82, 244);
}
.badge.badge-primary:not(.dashed, .outline-badge) {
  border: 0.0625rem solid #7d9cf9;
}
.badge.badge-primary.outline-badge {
  background-color: transparent;
  color: rgb(28, 82, 244);
}
.badge.badge-primary.outline-badge:not(.dashed) {
  border: 0.0625rem solid rgb(28, 82, 244);
}
.badge.badge-primary.outline-badge:is(.dashed) {
  border: 0.0625rem dashed rgb(28, 82, 244) !important;
}
.badge.badge-primary-mid {
  background-color: rgb(62, 110, 255);
}
.badge.badge-primary-mid:not(.dashed, .outline-badge) {
  border: 0.0625rem solid #a4bbff;
}
.badge.badge-primary-mid.outline-badge {
  background-color: transparent;
  color: rgb(62, 110, 255);
}
.badge.badge-primary-mid.outline-badge:not(.dashed) {
  border: 0.0625rem solid rgb(62, 110, 255);
}
.badge.badge-primary-mid.outline-badge:is(.dashed) {
  border: 0.0625rem dashed rgb(62, 110, 255) !important;
}
.badge.badge-primary-light {
  background-color: rgb(102, 138, 248);
}
.badge.badge-primary-light:not(.dashed, .outline-badge) {
  border: 0.0625rem solid #c8d5fc;
}
.badge.badge-primary-light.outline-badge {
  background-color: transparent;
  color: rgb(102, 138, 248);
}
.badge.badge-primary-light.outline-badge:not(.dashed) {
  border: 0.0625rem solid rgb(102, 138, 248);
}
.badge.badge-primary-light.outline-badge:is(.dashed) {
  border: 0.0625rem dashed rgb(102, 138, 248) !important;
}
.badge.badge-warning {
  background-color: rgb(173, 102, 7);
}
.badge.badge-warning:not(.dashed, .outline-badge) {
  border: 0.0625rem solid #f69c24;
}
.badge.badge-warning.outline-badge {
  background-color: transparent;
  color: rgb(173, 102, 7);
}
.badge.badge-warning.outline-badge:not(.dashed) {
  border: 0.0625rem solid rgb(173, 102, 7);
}
.badge.badge-warning.outline-badge:is(.dashed) {
  border: 0.0625rem dashed rgb(173, 102, 7) !important;
}
.badge.badge-warning-mid {
  background-color: rgb(235, 153, 63);
}
.badge.badge-warning-mid:not(.dashed, .outline-badge) {
  border: 0.0625rem solid #f5ca9b;
}
.badge.badge-warning-mid.outline-badge {
  background-color: transparent;
  color: rgb(235, 153, 63);
}
.badge.badge-warning-mid.outline-badge:not(.dashed) {
  border: 0.0625rem solid rgb(235, 153, 63);
}
.badge.badge-warning-mid.outline-badge:is(.dashed) {
  border: 0.0625rem dashed rgb(235, 153, 63) !important;
}
.badge.badge-warning-light {
  background-color: rgb(255, 220, 190);
}
.badge.badge-warning-light:not(.dashed, .outline-badge) {
  border: 0.0625rem solid white;
}
.badge.badge-warning-light.outline-badge {
  background-color: transparent;
  color: rgb(255, 220, 190);
}
.badge.badge-warning-light.outline-badge:not(.dashed) {
  border: 0.0625rem solid rgb(255, 220, 190);
}
.badge.badge-warning-light.outline-badge:is(.dashed) {
  border: 0.0625rem dashed rgb(255, 220, 190) !important;
}
.badge.badge-error {
  background-color: #BA1A1A;
}
.badge.badge-error:not(.dashed, .outline-badge) {
  border: 0.0625rem solid #e75353;
}
.badge.badge-error.outline-badge {
  background-color: transparent;
  color: #BA1A1A;
}
.badge.badge-error.outline-badge:not(.dashed) {
  border: 0.0625rem solid #BA1A1A;
}
.badge.badge-error.outline-badge:is(.dashed) {
  border: 0.0625rem dashed #BA1A1A !important;
}
.badge.badge-error-mid {
  background-color: #FF5449;
}
.badge.badge-error-mid:not(.dashed, .outline-badge) {
  border: 0.0625rem solid #ffb4af;
}
.badge.badge-error-mid.outline-badge {
  background-color: transparent;
  color: #FF5449;
}
.badge.badge-error-mid.outline-badge:not(.dashed) {
  border: 0.0625rem solid #FF5449;
}
.badge.badge-error-mid.outline-badge:is(.dashed) {
  border: 0.0625rem dashed #FF5449 !important;
}
.badge.badge-error-light {
  background-color: #FFB4AB;
}
.badge.badge-error-light:not(.dashed, .outline-badge) {
  border: 0.0625rem solid white;
}
.badge.badge-error-light.outline-badge {
  background-color: transparent;
  color: #FFB4AB;
}
.badge.badge-error-light.outline-badge:not(.dashed) {
  border: 0.0625rem solid #FFB4AB;
}
.badge.badge-error-light.outline-badge:is(.dashed) {
  border: 0.0625rem dashed #FFB4AB !important;
}
.badge.badge-success {
  background-color: #008B0E;
}
.badge.badge-success:not(.dashed, .outline-badge) {
  border: 0.0625rem solid #00f118;
}
.badge.badge-success.outline-badge {
  background-color: transparent;
  color: #008B0E;
}
.badge.badge-success.outline-badge:not(.dashed) {
  border: 0.0625rem solid #008B0E;
}
.badge.badge-success.outline-badge:is(.dashed) {
  border: 0.0625rem dashed #008B0E !important;
}
.badge.badge-success-mid {
  background-color: #26CC37;
}
.badge.badge-success-mid:not(.dashed, .outline-badge) {
  border: 0.0625rem solid #73e57f;
}
.badge.badge-success-mid.outline-badge {
  background-color: transparent;
  color: #26CC37;
}
.badge.badge-success-mid.outline-badge:not(.dashed) {
  border: 0.0625rem solid #26CC37;
}
.badge.badge-success-mid.outline-badge:is(.dashed) {
  border: 0.0625rem dashed #26CC37 !important;
}
.badge.badge-success-light {
  background-color: #71FF7F;
}
.badge.badge-success-light:not(.dashed, .outline-badge) {
  border: 0.0625rem solid #d7ffdb;
}
.badge.badge-success-light.outline-badge {
  background-color: transparent;
  color: #71FF7F;
}
.badge.badge-success-light.outline-badge:not(.dashed) {
  border: 0.0625rem solid #71FF7F;
}
.badge.badge-success-light.outline-badge:is(.dashed) {
  border: 0.0625rem dashed #71FF7F !important;
}
.badge.badge-natural {
  background-color: #596173;
}
.badge.badge-natural:not(.dashed, .outline-badge) {
  border: 0.0625rem solid #8c94a6;
}
.badge.badge-natural.outline-badge {
  background-color: transparent;
  color: #596173;
}
.badge.badge-natural.outline-badge:not(.dashed) {
  border: 0.0625rem solid #596173;
}
.badge.badge-natural.outline-badge:is(.dashed) {
  border: 0.0625rem dashed #596173 !important;
}
.badge.badge-natural-mid {
  background-color: #929AAB;
}
.badge.badge-natural-mid:not(.dashed, .outline-badge) {
  border: 0.0625rem solid #cccfd7;
}
.badge.badge-natural-mid.outline-badge {
  background-color: transparent;
  color: #929AAB;
}
.badge.badge-natural-mid.outline-badge:not(.dashed) {
  border: 0.0625rem solid #929AAB;
}
.badge.badge-natural-mid.outline-badge:is(.dashed) {
  border: 0.0625rem dashed #929AAB !important;
}
.badge.badge-natural-light {
  background-color: #D7DAE0;
}
.badge.badge-natural-light:not(.dashed, .outline-badge) {
  border: 0.0625rem solid white;
}
.badge.badge-natural-light.outline-badge {
  background-color: transparent;
  color: #D7DAE0;
}
.badge.badge-natural-light.outline-badge:not(.dashed) {
  border: 0.0625rem solid #D7DAE0;
}
.badge.badge-natural-light.outline-badge:is(.dashed) {
  border: 0.0625rem dashed #D7DAE0 !important;
}/*# sourceMappingURL=badge.css.map */