@import url(../assets/component/button/button.css);
@import url(../assets/component/badge/badge.css);
@import url(../assets/component//card/card.css);
@import '../assets/base/reset';
@import '../assets/vendor/font-familiy';


body{
    font-family: "Poppins", sans-serif;
    padding: 10px;
}
h6{
    margin-top: 20px;
}
.row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
